@model MVCEmployee.Models.Employee
@{
    ViewData["Title"] = "Succsessful";
}
<h4>Employee seccsesfully imported: </h4>
<br />
<table align="center">
    <tr width="100%">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(x => x.ID)</td>
        <td>@Html.DisplayFor(x => x.Name)</td>
        <td>@Html.DisplayFor(x => x.Email)</td>
        <td>@Html.DisplayFor(x => x.Phone)</td>
    </tr>
</table>
<button onclick="window.location.href='/Home/Index';">Ok</button>



